<div class="mt-16 py-4" style="background-color: #0C1824; width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 70px;">
  <div style="flex: 2; padding: 20px;">
    <h3 class="text-white font-light" style="font-family: Times New Roman;">ABOUT US</h3>
    <h3 class="pt-4 text-white" style="font-size: 40px;">How We Are Revolutionizing Companies´ AI Capabilities Portfolios</h3>
    <p class="mt-4 mb-6 text-white dark:text-white leading-normal text-lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. It has survived not only five centuries. It has survived not only five centuries.</p>
  </div>
  <div style="flex: 1; position: relative; margin-left: 35px;">
    <%= image_tag("about-us-image1.png", style: "width: 80%; height: auto; position: relative; z-index: 2;") %>
    <%= image_tag("about-us-image3.png", style: "width: 80%; height: auto; position: absolute; bottom: -16px; left: -20px; z-index: 1;") %>
    <%= image_tag("about-us-image2.png", style: "width: 80%; height: auto; position: absolute; top: -16px; left: -20px; z-index: 1;") %>
  </div>
</div>

<div class="mx-auto py-4" style="background-color: #77AFBC; width: 100%; text-align: center;">
  <h3 class="pt-4 text-white" style="font-size: 40px;">Our Story</h3>
  <p class="mt-4 mb-6 text-white dark:text-white leading-normal text-lg p-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. It has survived not only five centuries. It has survived not only five centuries.</p>
  <div class="border-t border-white p-4" style="margin: 16px; display: flex; justify-content: center; align-items: center;">
    <h3 class="pt-4 text-white" style="font-size: 40px;">Our Team</h3>
  </div>
  <div class="p-4 m-4" style="display: flex; justify-content: center; align-items: center;">
    <%= image_tag("image-team.jpg", style: "width: 25%; height: auto; margin-right: 20px;") %>
    <%= image_tag("image-team.jpg", style: "width: 25%; height: auto; margin-right: 20px;") %>
    <%= image_tag("image-team.jpg", style: "width: 25%; height: auto;") %>
  </div>
</div>

<div class="py-4" style="background-color: #0C1824; width: 100%; text-align: center;">
  <h3 class="pt-4 text-white" style="font-size: 40px;">Transform Your AI Strategy And Elevate Your Organization Today</h3>
  <button class="font-bold text-base text-white rounded-full px-4 py-2 m-4" style="padding: 12px 45px; background-color: #2F779C; position: relative;">
    See our pricing plans
  </button>
</div>
